/AutoPostAd/bin/Debug
/AutoPostAd/bin/Release
/AutoPostAd/obj/Debug
/AutoPostAd/obj/Release
/AutoPostAd/obj/x86/Debug
/AutoPostAd/obj/x86/Release
/AutoPostAdData/bin/Debug
/AutoPostAdData/bin/Release
/AutoPostAdData/bin/x86/Release
/AutoPostAdData/obj/Debug
/AutoPostAdData/obj/Release
/AutoPostAdData/obj/x86/Debug
/AutoPostAdData/obj/x86/Release
/AutoPostAdFramework/bin/Debug
/AutoPostAdFramework/bin/Release
/AutoPostAdFramework/bin/x86/Release
/AutoPostAdFramework/obj/Debug
/AutoPostAdFramework/obj/Release
/AutoPostAdFramework/obj/x86/Debug
/AutoPostAdFramework/obj/x86/Release
/AutoPostAdService/bin/Debug
/AutoPostAdService/obj/Debug
/AutoPostAdWeb/Log/Error
/AutoPostAdWeb/Log/Info
/AutoPostAdWeb/bin
/AutoPostAdWeb/obj/Release
/AutoReplyMail/bin/Debug
/AutoReplyMail/bin/Release
/AutoReplyMail/obj/Debug
/AutoReplyMail/obj/Release
/Common/bin/Debug
/Common/bin/Release
/Common/obj/Debug
/Common/obj/Release
/Common/obj/x86/Debug
/Common/obj/x86/Release
/Dropship/bin/Debug
/Dropship/obj/Debug
/Dropship/obj/Release
/Common/bin/x86/Release
/packages/Activeup.MainSystem.Net
/packages/Antlr.3.4.1.9004
/packages/AutoMapper.1.1.0.118
/packages/Autofac.3.0.2
/packages/Autofac.3.1.1
/packages/Autofac.3.5.2
/packages/Autofac.Mvc5.3.3.3
/packages/EntityFramework.5.0.0/Content
/packages/EntityFramework.5.0.0
/packages/HtmlAgilityPack.1.4.9
/packages/LinqToCsv.1.5.0.0
/packages/MailSystem.Net-trunk.2.1.17
/packages/Microsoft.AspNet.Identity.Core.2.1.0
/packages/Microsoft.AspNet.Identity.Owin.2.1.0
/packages/Microsoft.AspNet.Mvc.5.2.2/Content
/packages/Microsoft.AspNet.Mvc.5.2.2
/packages/Microsoft.AspNet.Razor.3.2.2
/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/packages/Microsoft.AspNet.WebPages.3.2.2/Content
/packages/Microsoft.AspNet.WebPages.3.2.2
/packages/Microsoft.Owin.3.0.0
/packages/Microsoft.Owin.Host.SystemWeb.3.0.0
/packages/Microsoft.Owin.Security.3.0.0
/packages/Microsoft.Owin.Security.Cookies.3.0.0
/packages/Microsoft.Owin.Security.Facebook.3.0.0
/packages/Microsoft.Owin.Security.Google.3.0.0
/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.0
/packages/Microsoft.Owin.Security.OAuth.3.0.0
/packages/Microsoft.Owin.Security.Twitter.3.0.0
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.2/Content/Scripts
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.2
/packages/Modernizr.2.6.2/Content/Scripts
/packages/Modernizr.2.6.2
/packages/Newtonsoft.Json.6.0.4
/packages/Newtonsoft.Json
/packages/Owin.1.0
/packages/Respond.1.2.0
/packages/Selenium.WebDriver.2.53.1
/packages/WebGrease.1.5.2
/packages/bootstrap.3.0.0
/packages/eBay.3.897.0
/packages/jQuery.1.10.2/Content/Scripts
/packages/jQuery.1.10.2/Tools
/packages/jQuery.1.10.2
/packages/jQuery.Validation.1.11.1/Content/Scripts
/packages/jQuery.Validation.1.11.1
/packages/log4net.2.0.3/lib/net10-full
/packages/log4net.2.0.3/lib/net11-full
/packages/log4net.2.0.3/lib/net20-full
/packages/log4net.2.0.3/lib/net35-client
/packages/log4net.2.0.3/lib/net35-full
/packages/log4net.2.0.3/lib/net40-client
/packages/log4net.2.0.3/lib/net40-full
/packages/log4net.2.0.3
/packages/ncalc.1.3.8/lib
/packages/ncalc.1.3.8
/AutoPostAdWeb/obj/Debug
/Dropship/bin/Release
/.vs/AutoPostAd/DesignTimeBuild
/.vs/AutoPostAd/v15/Server/sqlite3
/.vs
/AutoPostAdDealSplash.rar
/packages
