SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AutoPostAdHeader]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AutoPostAdHeader](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[PostDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AutoPostAdHeader] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AutoPostAdLine]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AutoPostAdLine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HeaderID] [int] NOT NULL,
	[ExternalID] [varchar](50) NOT NULL,
	[Status] [varchar](10) NOT NULL,
	[PostDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AutoPostAdLine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AutoPostAdLine_AutoPostAdHeader]') AND parent_object_id = OBJECT_ID(N'[dbo].[AutoPostAdLine]'))
ALTER TABLE [dbo].[AutoPostAdLine]  WITH CHECK ADD  CONSTRAINT [FK_AutoPostAdLine_AutoPostAdHeader] FOREIGN KEY([HeaderID])
REFERENCES [dbo].[AutoPostAdHeader] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AutoPostAdLine_AutoPostAdHeader]') AND parent_object_id = OBJECT_ID(N'[dbo].[AutoPostAdLine]'))
ALTER TABLE [dbo].[AutoPostAdLine] CHECK CONSTRAINT [FK_AutoPostAdLine_AutoPostAdHeader]
GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AutoPostAdPostData]') AND type in (N'U'))
DROP TABLE [dbo].[AutoPostAdPostData]
GO
CREATE TABLE [dbo].[AutoPostAdPostData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [varchar](500) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Title] [varchar](500) NOT NULL,
	[Description] [varchar](4000) NOT NULL,
	[ImagesPath] [varchar](4000) NOT NULL,
	[CategoryID] INT NOT NULL,
 CONSTRAINT [PK_AutoPostAdPostData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_AutoPostAdPostData_CategoryID] ON [AutoPostAdPostData] ([CategoryID] ASC)
GO



IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductCategory]') AND type in (N'U'))
DROP TABLE [dbo].[ProductCategory]
GO
CREATE TABLE [dbo].[ProductCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [varchar](50) NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
	[ParentCategoryID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE NONCLUSTERED INDEX [IX_ProductCategory_CategoryID] ON [dbo].[ProductCategory] 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO


IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AutoPostAdPostData_ProductCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[AutoPostAdPostData]'))
ALTER TABLE [dbo].[AutoPostAdPostData]  WITH CHECK ADD  CONSTRAINT [FK_AutoPostAdPostData_ProductCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategory] ([ID])
GO


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AutoPostAdResult]') AND type in (N'U'))
DROP TABLE [dbo].[AutoPostAdResult]
GO
CREATE TABLE [dbo].[AutoPostAdResult](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AutoPostAdDataID] INT NOT NULL,
	[PostDate] [datetime] NOT NULL,
	[AdID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AutoPostAdResult] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE NONCLUSTERED INDEX [IX_AutoPostAdResult_AutoPostAdDataID] ON [AutoPostAdResult] ([AutoPostAdDataID] ASC)
GO

--CREATE UNIQUE NONCLUSTERED INDEX [IX_AutoPostAdPostData_SKU] ON [dbo].[AutoPostAdPostData] 
--(
--	[SKU] ASC
--)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
--GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AutoPostAdResult_AutoPostAdPostData]') AND parent_object_id = OBJECT_ID(N'[dbo].[AutoPostAdResult]'))
ALTER TABLE [dbo].[AutoPostAdResult]  WITH CHECK ADD  CONSTRAINT [FK_AutoPostAdResult_AutoPostAdPostData] FOREIGN KEY([AutoPostAdDataID])
REFERENCES [dbo].[AutoPostAdPostData] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO


--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AutoPostAdLocation]') AND type in (N'U'))
--DROP TABLE [dbo].[AutoPostAdLocation]
--GO
--CREATE TABLE [dbo].[AutoPostAdLocation](
--	[ID] [int] IDENTITY(1,1) NOT NULL,
--	[SKU] [varchar](50) NOT NULL,
--	[PostDate] [datetime] NOT NULL,
--	[AdID] [varchar](50) NOT NULL,
-- CONSTRAINT [PK_AutoPostAdLocation] PRIMARY KEY CLUSTERED 
--(
--	[ID] ASC
--)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
--) ON [PRIMARY]

--GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Template]') AND type in (N'U'))
DROP TABLE [dbo].[Template]
GO
CREATE TABLE [dbo].[Template](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Template] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TemplateField]') AND type in (N'U'))
DROP TABLE [dbo].[TemplateField]
GO
CREATE TABLE [dbo].[TemplateField](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [INT] NOT NULL,
	[DataFieldID] [INT] NOT NULL,
	[Order] [INT] NOT NULL,
	[DefaultValue] [varchar](100) NOT NULL,
	[TemplateFieldName] [varchar](50) NOT NULL,
	[TemplateFieldType] [INT] NOT NULL,
	[IsRequireInput] [bit] NOT NULL,
 CONSTRAINT [PK_TemplateField] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DataField]') AND type in (N'U'))
DROP TABLE [dbo].[DataField]
GO
CREATE TABLE [dbo].[DataField](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DataFieldName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DataField] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TemplateField_Template]') AND parent_object_id = OBJECT_ID(N'[dbo].[TemplateField]'))
ALTER TABLE [dbo].[TemplateField]  WITH CHECK ADD CONSTRAINT [FK_TemplateField_Template] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[Template] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TemplateField_DataField]') AND parent_object_id = OBJECT_ID(N'[dbo].[TemplateField]'))
ALTER TABLE [dbo].[TemplateField]  WITH CHECK ADD CONSTRAINT [FK_TemplateField_DataField] FOREIGN KEY([DataFieldID])
REFERENCES [dbo].[DataField] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO


IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='ProductCategory' AND C.Name='TemplateID')
	ALTER TABLE dbo.ProductCategory ADD
		TemplateID INT NOT NULL CONSTRAINT DF_ProductCategory_TemplateID DEFAULT 1
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_ProductCategory_TemplateID')
	ALTER TABLE dbo.ProductCategory
		DROP CONSTRAINT DF_ProductCategory_TemplateID
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductCategory_Template]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductCategory]'))
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD CONSTRAINT [FK_ProductCategory_Template] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[Template] ([ID])
GO



--Add category type
IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='ProductCategory' AND C.Name='CategoryTypeID')
	ALTER TABLE dbo.ProductCategory ADD
		CategoryTypeID INT NOT NULL CONSTRAINT DF_ProductCategory_CategoryTypeID DEFAULT 1
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_ProductCategory_CategoryTypeID')
	ALTER TABLE dbo.ProductCategory
		DROP CONSTRAINT DF_ProductCategory_CategoryTypeID
GO

--Add Inventory
IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='AutoPostAdPostData' AND C.Name='InventoryQty')
	ALTER TABLE dbo.AutoPostAdPostData ADD
		InventoryQty INT NOT NULL CONSTRAINT DF_AutoPostAdPostData_InventoryQty DEFAULT -1
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_AutoPostAdPostData_InventoryQty')
	ALTER TABLE dbo.AutoPostAdPostData
		DROP CONSTRAINT DF_AutoPostAdPostData_InventoryQty
GO


--Add Website Type if necessary
--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WebsiteType]') AND type in (N'U'))
--DROP TABLE [dbo].[WebsiteType]
--GO
--CREATE TABLE [dbo].[WebsiteType](
--	[ID] [int] IDENTITY(1,1) NOT NULL,
--	[WebsiteName] [varchar](50) NOT NULL,
-- CONSTRAINT [PK_WebsiteType] PRIMARY KEY CLUSTERED 
--(
--	[ID] ASC
--)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
--) ON [PRIMARY]

--GO


--create address and account tables

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Address]') AND type in (N'U'))
DROP TABLE [dbo].[Address]
GO
CREATE TABLE [dbo].[Address](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AddressName] [varchar](100) NOT NULL,
	[PostCode] [varchar](100) NOT NULL,
	[GeoLatitude] [varchar](100) NOT NULL,
	[GeoLongitude] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Account]') AND type in (N'U'))
DROP TABLE [dbo].[Account]
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Cookie] [varchar](4000) NOT NULL,
	[PhoneNumber] [varchar](100) NOT NULL,
	[Status][varchar](1) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

--insert initial data in address and account tables

INSERT INTO [Address] VALUES(N'Bulleen VIC 3105',N'3105',N'-37.7660476',N'145.08793379999997');
INSERT INTO [Address] VALUES(N'Melbourne VIC',N'Melbourne',N'-37.814107',N'144.96327999999994');
INSERT INTO [Address] VALUES(N'Sydney NSW',N'Sydney',N'-33.8674869',N'151.20699020000006');




--add field addressID and accountID in AutoPostAdPostData

IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='AutoPostAdPostData' AND C.Name='AddressID')
	ALTER TABLE dbo.AutoPostAdPostData ADD
		AddressID INT NOT NULL CONSTRAINT DF_AutoPostAdPostData_AddressID DEFAULT 1
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_AutoPostAdPostData_AddressID')
	ALTER TABLE dbo.AutoPostAdPostData
		DROP CONSTRAINT DF_AutoPostAdPostData_AddressID
GO


IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='AutoPostAdPostData' AND C.Name='AccountID')
	ALTER TABLE dbo.AutoPostAdPostData ADD
		AccountID INT NOT NULL CONSTRAINT DF_AutoPostAdPostData_AccountID DEFAULT 1
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_AutoPostAdPostData_AccountID')
	ALTER TABLE dbo.AutoPostAdPostData
		DROP CONSTRAINT DF_AutoPostAdPostData_AccountID
GO

--establish foreign key relationship

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AutoPostAdPostData_Address]') AND parent_object_id = OBJECT_ID(N'[dbo].[AutoPostAdPostData]'))
ALTER TABLE [dbo].[AutoPostAdPostData]  WITH CHECK ADD  CONSTRAINT [FK_AutoPostAdPostData_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([ID])
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AutoPostAdPostData_Account]') AND parent_object_id = OBJECT_ID(N'[dbo].[AutoPostAdPostData]'))
ALTER TABLE [dbo].[AutoPostAdPostData]  WITH CHECK ADD  CONSTRAINT [FK_AutoPostAdPostData_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([ID])
GO

UPDATE DataField SET DataFieldName=N'AddressName' WHERE DataFieldName='Address';
UPDATE DataField SET DataFieldName=N'FirstName' WHERE DataFieldName='Name';
UPDATE TemplateField SET TemplateFieldType=0 WHERE DataFieldID BETWEEN 10 AND 15

UPDATE AutoPostAdPostData SET AccountID=2 WHERE SKU LIKE '%sam%'
UPDATE AutoPostAdPostData SET AddressID=2 WHERE SKU LIKE '%sam%' AND SKU LIKE '%Melbourne%'
UPDATE AutoPostAdPostData SET AddressID=3 WHERE SKU LIKE '%sam%' AND SKU LIKE '%Sydney%'
UPDATE AutoPostAdPostData SET AddressID=4 WHERE SKU LIKE '%sam%' AND SKU LIKE '%Brisbane%'


UPDATE ProductCategory SET TemplateID=2 WHERE ID=154





IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CustomFieldGroup]') AND type in (N'U'))
DROP TABLE [dbo].[CustomFieldGroup]
GO
CREATE TABLE [dbo].[CustomFieldGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CustomFieldGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO



IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CustomFieldLine]') AND type in (N'U'))
DROP TABLE [dbo].[CustomFieldLine]
GO
CREATE TABLE [dbo].[CustomFieldLine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomFieldGroupID] [int] NOT NULL,
	[FieldName] [varchar](100) NOT NULL,
	[FieldValue] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_CustomFieldLine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CustomFieldLine_CustomFieldGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[CustomFieldLine]'))
ALTER TABLE [dbo].[CustomFieldLine]  WITH CHECK ADD CONSTRAINT [FK_CustomFieldLine_CustomFieldGroup] FOREIGN KEY([CustomFieldGroupID])
REFERENCES [dbo].[CustomFieldGroup] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO


IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='AutoPostAdPostData' AND C.Name='CustomFieldGroupID')
	ALTER TABLE dbo.AutoPostAdPostData ADD
		CustomFieldGroupID INT NOT NULL CONSTRAINT DF_AutoPostAdPostData_CustomFieldGroupID DEFAULT 1
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_AutoPostAdPostData_CustomFieldGroupID')
	ALTER TABLE dbo.AutoPostAdPostData
		DROP CONSTRAINT DF_AutoPostAdPostData_CustomFieldGroupID
GO

INSERT INTO CustomFieldGroup VALUES(N'No Custom')


IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AutoPostAdPostData_CustomFieldGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[AutoPostAdPostData]'))
ALTER TABLE [dbo].[AutoPostAdPostData]  WITH CHECK ADD  CONSTRAINT [FK_AutoPostAdPostData_CustomFieldGroup] FOREIGN KEY([CustomFieldGroupID])
REFERENCES [dbo].[CustomFieldGroup] ([ID])
GO



IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='AutoPostAdPostData' AND C.Name='BusinessLogoPath')
	ALTER TABLE dbo.AutoPostAdPostData ADD
		BusinessLogoPath varchar(4000) NOT NULL CONSTRAINT DF_AutoPostAdPostData_BusinessLogoPath DEFAULT ''
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_AutoPostAdPostData_BusinessLogoPath')
	ALTER TABLE dbo.AutoPostAdPostData
		DROP CONSTRAINT DF_AutoPostAdPostData_BusinessLogoPath
GO

INSERT INTO DataField VALUES(N'BusinessLogoURL');
UPDATE TemplateField SET DataFieldID=16 WHERE ID=37




SET ANSI_PADDING OFF
GO



--ScheduleTask
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ScheduleTask]') AND type in (N'U'))
DROP TABLE [dbo].[ScheduleTask]
GO
CREATE TABLE [dbo].[ScheduleTask](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Seconds] [int] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[StopOnError] [bit] NOT NULL,
	[LastStartTime] [datetime] NULL,
	[LastEndTime] [datetime] NULL,
	[LastSuccessTime] [datetime] NULL,

 CONSTRAINT [PK_ScheduleTask] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO




--Schedule Rule
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ScheduleRule]') AND type in (N'U'))
DROP TABLE [dbo].[ScheduleRule]
GO
CREATE TABLE [dbo].[ScheduleRule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](4000) NOT NULL,
	[Description] [varchar](MAX) NOT NULL,
	[IntervalDay] [int] NOT NULL,
	[LastSuccessTime] datetime not null,
	[Status] [varchar](4000) not null,
	[CreateTime] datetime not null,
	[CreateBy] [varchar](4000) not null,
	[EditTime] datetime not null,
	[EditBy] [varchar](4000) not null,

 CONSTRAINT [PK_ScheduleRule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ScheduleRuleLine]') AND type in (N'U'))
DROP TABLE [dbo].[ScheduleRuleLine]
GO
CREATE TABLE [dbo].[ScheduleRuleLine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleRuleID] [int] NOT NULL,
	[TimeRangeFrom] datetime NOT NULL,
	[TimeRangeTo] datetime NOT NULL,
	[CreateTime] datetime not null,
	[CreateBy] [varchar](4000) not null,
	[EditTime] datetime not null,
	[EditBy] [varchar](4000) not null,

 CONSTRAINT [PK_ScheduleRuleLine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ScheduleRuleLine_ScheduleRule]') AND parent_object_id = OBJECT_ID(N'[dbo].[ScheduleRuleLine]'))
ALTER TABLE [dbo].[ScheduleRuleLine]  WITH CHECK ADD CONSTRAINT [FK_ScheduleRuleLine_ScheduleRule] FOREIGN KEY([ScheduleRuleID])
REFERENCES [dbo].[ScheduleRule] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO








insert into ScheduleRule
select '3 Times a day' as Name,
'3 Times a day' as Description,
1 as IntervalDay,
GETDATE() as LastSuccessTime,
'A' as Status,
GETDATE() as CreateTime,
'System' as CreateBy,
GETDATE() as EditTime,
'System' as EditBy




insert into ScheduleRuleLine
select 1 as ScheduleRuleID,
'20160201 09:00:00:000' as TimeRangeFrom,
'20160201 10:00:00:000' as TimeRangeTo,
GETDATE() as CreateTime,
'System' as CreateBy,
GETDATE() as EditTime,
'System' as EditBy


insert into ScheduleRuleLine
select 1 as ScheduleRuleID,
'20160201 12:00:00:000' as TimeRangeFrom,
'20160201 13:00:00:000' as TimeRangeTo,
GETDATE() as CreateTime,
'System' as CreateBy,
GETDATE() as EditTime,
'System' as EditBy

insert into ScheduleRuleLine
select 1 as ScheduleRuleID,
'20160201 17:00:00:000' as TimeRangeFrom,
'20160201 18:00:00:000' as TimeRangeTo,
GETDATE() as CreateTime,
'System' as CreateBy,
GETDATE() as EditTime,
'System' as EditBy


IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='AutoPostAdPostData' AND C.Name='ScheduleRuleID')
	ALTER TABLE dbo.AutoPostAdPostData ADD
		ScheduleRuleID int NOT NULL CONSTRAINT DF_AutoPostAdPostData_ScheduleRuleID DEFAULT 1
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_AutoPostAdPostData_ScheduleRuleID')
	ALTER TABLE dbo.AutoPostAdPostData
		DROP CONSTRAINT DF_AutoPostAdPostData_ScheduleRuleID
GO


IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_AutoPostAdPostData_ScheduleRule]') AND parent_object_id = OBJECT_ID(N'[dbo].[AutoPostAdPostData]'))
ALTER TABLE [dbo].[AutoPostAdPostData]  WITH CHECK ADD CONSTRAINT [FK_AutoPostAdPostData_ScheduleRule] FOREIGN KEY([ScheduleRuleID])
REFERENCES [dbo].[ScheduleRule] ([ID])






--Change IP Address

IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='Account' AND C.Name='IPAddress')
	ALTER TABLE dbo.Account ADD
		IPAddress varchar(500) NOT NULL CONSTRAINT DF_Account_IPAddress DEFAULT ''
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_Account_IPAddress')
	ALTER TABLE dbo.Account
		DROP CONSTRAINT DF_Account_IPAddress
GO

--Netmask
IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='Account' AND C.Name='Netmask')
	ALTER TABLE dbo.Account ADD
		Netmask varchar(500) NOT NULL CONSTRAINT DF_Account_Netmask DEFAULT ''
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_Account_Netmask')
	ALTER TABLE dbo.Account
		DROP CONSTRAINT DF_Account_Netmask
GO

--Gateway
IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='Account' AND C.Name='Gateway')
	ALTER TABLE dbo.Account ADD
		Gateway varchar(500) NOT NULL CONSTRAINT DF_Account_Gateway DEFAULT ''
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_Account_Gateway')
	ALTER TABLE dbo.Account
		DROP CONSTRAINT DF_Account_Gateway
GO

--UserAgent
IF NOT EXISTS (SELECT * FROM SysObjects O INNER JOIN SysColumns C ON O.ID=C.ID WHERE
 ObjectProperty(O.ID,'IsUserTable')=1 AND O.Name='Account' AND C.Name='UserAgent')
	ALTER TABLE dbo.Account ADD
		UserAgent varchar(500) NOT NULL CONSTRAINT DF_Account_UserAgent DEFAULT ''
GO
		
IF EXISTS (SELECT [name] FROM sysobjects WHERE [name] = 'DF_Account_UserAgent')
	ALTER TABLE dbo.Account
		DROP CONSTRAINT DF_Account_UserAgent
GO


--Receive gumtree email





--Data Insert

--Template
INSERT INTO Template VALUES(N'Default Product Ad');
INSERT INTO Template VALUES(N'Business Service Ad');
INSERT INTO Template VALUES(N'Alvin Removal Service Ad');

--DataField
INSERT INTO DataField VALUES(N'');
INSERT INTO DataField VALUES(N'Price');






--TemplateField

--Template 1
INSERT INTO TemplateField  VALUES(1/*TemplateID*/,1/*DataFieldID*/,1/*Order*/,N''/*DefaultValue*/,N'adId'/*TemplateFieldName*/,0/*TemplateFieldType*/,0/*IsRequireInput*/);
INSERT INTO TemplateField  VALUES(1/*TemplateID*/,1/*DataFieldID*/,2/*Order*/,N'false'/*DefaultValue*/,N'repost'/*TemplateFieldName*/,0/*TemplateFieldType*/,0/*IsRequireInput*/);
INSERT INTO TemplateField  VALUES(1/*TemplateID*/,1/*DataFieldID*/,3/*Order*/,N''/*DefaultValue*/,N'galleryImageIndex'/*TemplateFieldName*/,0/*TemplateFieldType*/,0/*IsRequireInput*/);
--Template 1

--Template 2 For Sam Cleaning

--Template 2 For Sam Cleaning


--Template 4 For Job



--Template 4 For Job


--Template 5 For Community


--Template 5 For Community


--Template 6 For Cars, Vans & Utes


--Template 5 For Community


--Template 6
--Template 6















--INSERT INTO TemplateField  VALUES(13/*TemplateID*/,1/*DataFieldID*/,13/*Order*/,N'agncy'/*DefaultValue*/,N'dwellingforsaleby'/*TemplateFieldName*/,1/*TemplateFieldType*/,1/*IsRequireInput*/);
--INSERT INTO TemplateField  VALUES(13/*TemplateID*/,1/*DataFieldID*/,18/*Order*/,N''/*DefaultValue*/,N'areainmeters'/*TemplateFieldName*/,1/*TemplateFieldType*/,0/*IsRequireInput*/);
--INSERT INTO TemplateField  VALUES(13/*TemplateID*/,1/*DataFieldID*/,19/*Order*/,N'covrd'/*DefaultValue*/,N'parking'/*TemplateFieldName*/,1/*TemplateFieldType*/,1/*IsRequireInput*/);



--ProductCategory
INSERT INTO ProductCategory VALUES(N'18359',N'Health & Beauty',N'9303',2)
INSERT INTO ProductCategory VALUES(N'18359',N'Health & Beauty',N'9303',2)


--Account 
--INSERT INTO Account VALUES(N'bright0827@yahoo.com',N'1981827',N'Alvin',N'',N'',N'0433767824',N'A');
--INSERT INTO Account VALUES(N'tl1981827@hotmail.com',N'1981827',N'Alvin',N'',N'',N'0433767824',N'A');
--INSERT INTO Account VALUES(N'alremoval@hotmail.com',N'1981827',N'Alvin',N'',N'',N'0433767824',N'A');
--INSERT INTO Account VALUES(N'BedsAndFurniture824@yahoo.com',N'NotAGoodGirlBeAware',N'BAF',N'Safari;103.16.128.56;BinaryLane7',N'machId=mlegUlacEUwTKFOMHVWaO0082VsEosLL14g75vsOQZJX8BzOe_Udai-WuqtUOY39egby_e1c1Gt8uZhyteCDjjG44Y2MPBmBbpk; optimizelyEndUserId=oeu1465091934497r0.7910611764425166; __gads=ID=d852791feb9af98f:T=1465088339:S=ALNI_MYazhFxiLNYd7qpkK_10jnr5_hh9g; up=%7B%22ln%22%3A%22434908037%22%2C%22ls%22%3A%22l%3D3003924%26r%3D0%26sv%3DLIST%26sf%3Ddate%22%7D; sid2=1f8b08000000000000002dcbb10e82301000d05fb9111273b45c5b242c356a34415c68c28c5ab5a15a821a91afd7c1f10d8f334e2295b922cd192157c889a3145a576172deb789440651e3eea7f07ec0de80422ae067250a18958861d1f7de36f650ba672229435210955b53ed66e05d6761638f5d8861791dc2cd269223c3346302e702eaf6dc0eeebfb419e5a54ed7ab5c4d86572f9a027d3c7e011ad38b4aa2000000; bs=%7B%22st%22%3A%7B%7D%7D; optimizelySegments=%7B%222153921328%22%3A%22none%22%2C%222154850398%22%3A%22direct%22%2C%222179050143%22%3A%22false%22%2C%222181970141%22%3A%22gc%22%7D; optimizelyBuckets=%7B%7D; crtg_rta=cto_puma_m_320120%3D1%3B; __utmt_siteTracker=1; __utma=160852194.1004030289.1465091938.1465863304.1465992229.8; __utmb=160852194.1.10.1465992229; __utmc=160852194; __utmz=160852194.1465091938.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); _ga=GA1.3.1004030289.1465091938; _gat=1; ki_t=1465091943544%3B1465992255554%3B1465992255554%3B6%3B56; ki_r=; sc=1po5MBFHsULLxqdA6FnJ; optimizelyPendingLogEvents=%5B%5D; _gali=welcome-username',N'',N'A',N'255.255.255.0',N'43.229.61.1',N'43.229.63.89',N'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.84 Safari/537.36');



--Address 














--INSERT INTO [Address] VALUES(N'Parramatta, New South Wales, Australia',N'Parramatta',N'-33.815',N'151.00111100000004');




--CustomFieldGroup
INSERT INTO [CustomFieldGroup] VALUES(N'Alvin Used, Negotiable Product');
INSERT INTO [CustomFieldGroup] VALUES(N'Alvin Removal Service');
INSERT INTO [CustomFieldGroup] VALUES(N'Alvin Jew');






--CustomFieldLine
INSERT INTO [CustomFieldLine] VALUES(2,N'condition',N'used');
INSERT INTO [CustomFieldLine] VALUES(2,N'price.type',N'NEGOTIABLE');

INSERT INTO [CustomFieldLine] VALUES(3,N'slogan',N'melbourne cheap removal, junk removal');









































--INSERT INTO [CustomFieldLine] VALUES(24,N'name',N'Tom');
--INSERT INTO [CustomFieldLine] VALUES(24,N'phoneNumber',N'0430282812');































--New Gumtree Category on 20160524

--Electronics & Computer
INSERT INTO [ProductCategory] VALUES('21121','Tablets & eBooks','20045',1,1,'A')

--Audio
INSERT INTO [ProductCategory] VALUES('21106','Audio','20045',1,1,'A')
INSERT INTO [ProductCategory] VALUES('21104','Headphones & Earphones','21106',1,1,'A')
update [ProductCategory] set CategoryName='Other Audio', ParentCategoryID='21106' where ID=73 and CategoryID='18625'

--Cameras
update [ProductCategory] set CategoryName='Digital Compact Cameras' where ID=304 and CategoryID='18621'


--Computers & Software
update [ProductCategory] set CategoryName='Computer Accessories' where ID=293 and CategoryID='18554'
update [ProductCategory] set CategoryName='Computer Speakers' where ID=295 and CategoryID='18557'
update [ProductCategory] set CategoryName='Printers & Scanners' where ID=292 and CategoryID='18555'


--Phones
update [ProductCategory] set CategoryName='Phone Accessories' where ID=297 and CategoryID='18598'
update [ProductCategory] set CategoryName='iPhone' where ID=296 and CategoryID='18597'


--TV & DVD players
update [ProductCategory] set  CategoryName='Other TV & DVD Players',ParentCategoryID='21127' where ID=75 and CategoryID='18316'


--Tablets & eBooks


--Video Games & Consoles
update [ProductCategory] set CategoryName='Console Accessories' where ID=303 and CategoryID='18616'
update [ProductCategory] set CategoryName='Playstation' where ID=301 and CategoryID='18617'


--Kitchen & Dining


--Lighting
update [ProductCategory] set  CategoryName='Other Lighting',ParentCategoryID='21027' where ID=230 and CategoryID='20085'


--Appliances


--Furniture
update [ProductCategory] set CategoryName='Dining Chairs' where ID=207 and CategoryID='20075'
update [ProductCategory] set CategoryName='Dining Tables' where ID=204 and CategoryID='20080'


--Garden
update [ProductCategory] set CategoryName='Outdoor Dining Furniture' where ID=225 and CategoryID='20070'
update [ProductCategory] set CategoryName='Plants' where ID=223 and CategoryID='20102'
update [ProductCategory] set CategoryName='Sheds & Storage' where ID=228 and CategoryID='20072'


--Home Decor
update [ProductCategory] set CategoryName='Manchester & Textiles' where ID=231 and CategoryID='20083'


--Tools & DIY


--Cars & Vehicles


--Construction Vehicles & Equipment


--Farming Vehicles & Equipment


--Motorcycles & Scooters
update [ProductCategory] set CategoryName='Quads, Karts & Other' where ID=198 and CategoryID='18630'


--Parts & Accessories
update [ProductCategory] set  CategoryName='Motorcycle & Scooter Accessories',ParentCategoryID='18323' where ID=195 and CategoryID='18627'
update [ProductCategory] set  CategoryName='Motorcycle & Scooter Parts',ParentCategoryID='18323' where ID=196 and CategoryID='18628'


--Trucks
update [ProductCategory] set  CategoryName='Truck Parts',ParentCategoryID='21140' where ID=192 and CategoryID='18481'
