<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="AutoPostAdContext" connectionString="Data Source=JIM-PC;Initial Catalog=AutoPostAd;User ID=rubin;Password=;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="AutoPostAdContext" connectionString="Data Source=JIM-PC;Initial Catalog=AutoPostAdDropship;User ID=rubin;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="AutoPostAdContext" connectionString="Data Source=JIM-PC;Initial Catalog=AutoPostAdDealSplash;User ID=sa;Password=Shishiliu-0310;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>

    <add key="ActiveForms" value="GumtreeAd" />
    <!--<add key="UserAgent" value="Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; Trident/4.0)" />-->
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36" />
    <!--<add key="UserAgent" value="Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.1; WOW64; Trident/7.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; InfoPath.3; GWX:DOWNLOADED)" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DeathByCaptchaUserName" value="jim0519" />
    <add key="DeathByCaptchaPassword" value="Shishiliu-0310" />
    <add key="DelaySecondRange" value="" />
    <add key="ImageFilesPath" value="G:\Jim\Own\LearningDoc\DailyDealsAggregator\Informations\GumtreePostAdData" />
    <add key="ChannelType" value="GTNopcommerce" />
    <!--Values:GTMelbourne:1;GTSydney:6,GTNopcommerce:9-->
    <!--<add key="ImageFilesPath" value="F:\Jim\Own\LearningDoc\DailyDealsAggregator\Informations\GumtreePostAdData"/>-->

    <!--Sandbox Environment -->
    <!--<add key="QuickSaleServiceURL" value="https://sandboxapi.quicksales.com.au/api/production/apigateway.aspx" />
	  <add key="QuickSaleDevID" value="6d8f902f-046e-48a7-810b-d34490cb0654" />
	  <add key="QuickSaleDevToken" value="amltMDUxOTY2MDg5MDIwMTMxMDI1ODU0MzQ2Nzk=" />-->

    <!--Production Environment -->
    <add key="QuickSaleServiceURL" value="https://developer.quicksales.com.au/api/production/apigateway.aspx" />
    <add key="QuickSaleDevID" value="aa9f58b8-2b22-4eaf-9d99-3ca44faf9fc3" />
    <add key="QuickSaleDevToken" value="amltMDUxOTY2MDg5MDIwMTMxMDI5MTcyMTE5ODYz" />
    <!--jim0519-->

    <!--<add key="QuickSaleServiceURL" value="https://developer.quicksales.com.au/api/production/apigateway.aspx" />
	  <add key="QuickSaleDevID" value="f576f81b-3492-4de4-955a-6fc298f77f1e" />
	  <add key="QuickSaleDevToken" value="amltMDUxOTAxMDI2OTIyMDYyMDEzMTAyMzIxNTUxMTY4" />-->

    <add key="QuickSaleLocSuburb" value="Melbourne" />
    <add key="QuickSaleLocPostcode" value="3000" />
    <add key="QuickSaleLocState" value="VIC" />

    <!--eBayAPI -->

    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox site use: https://api.sandbox.ebay.com/wsapi -->
    <add key="eBayApiServiceUrl" value="https://api.ebay.com/wsapi" />
    <!-- User token for API server access, required -->
    <add key="eBayApiToken" value="AgAAAA**AQAAAA**aAAAAA**KGibVA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AFk4WjDpiBoA6dj6x9nY+seQ**fAYBAA**AAMAAA**FUq6vGZAH5ojYHRQoIO7+ma0TixoXM2RvTrWldG1OhXwbnqKAZ19wz/dbG/b3NV7upfFn/Q/ON06rdXXxugW23PkW97mS1Oht+XrLOjICHKq6tJ3/uo/vMfkQPodG39YAJocS4MqZ72it383OPwGAbEvt3U1Y2ymbgJnMO83qdS6THSBEVvj23mnmPhHvjURMKvlr+s3sSz3cr9U6ml5OmKzgVTsYj40m8mr9LbNQIOUUs8OVz+zrcvyENEum9XAl2t+cxVKGw0yX08QXjlxgEWj6EXhLyPJ/WC/d1arFR2QElYlI5Qfbsri7CJ4xybzENbCKY6zh/uwbx0YZ/PrDUHac2DsFb2EFMjmpYNyERs6IP3qLPFk37giJJ7CUq2SvAEjMav812OGGYvlBhMvnYOf7wpzgIHbksJJghEBE8hr4kl0+wWDraUT/MO8/CQrU/Mry3lTMMbVU0PZCOKk6CRtwmD1nAUEuedq7V4lCd8N8XdBs0o3YxM3aCrOZc12+67IfV4q0/8ZUUGFrk6hEC8jMniuqmeC/6ks3UCChjEaa7UPUlbHQ9OKDw6jUefvVImDwl0nFt31Xcv6o3u/mNhN0esMBn08esNTL1ZNWPmLm9LbtTkNajbr5STa7xy3rgAw+RNsTcVzp9vIlPxD/AS3BWSDn8pOwxRU+y7Z8bEXRbk3PQ3BBEXdecSnbbSVkkkFjMS+4xSdrVXwZkwk4KV4zu64yhUUDrmk7ksdTqFz9uD03v2eG3qMkbszTk8U" />

    <!--eBayAPI -->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>