<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
	<connectionStrings>
		<!--<add name="AutoPostAdContext" connectionString="Data Source=JIM-PC;Initial Catalog=AutoPostAd;User ID=rubin;Password=;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
		<add name="AutoPostAdContext" connectionString="Data Source=JIM-PC;Initial Catalog=AutoPostAdDropship;User ID=sa;Password=Shishiliu-0310;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <!--eBayAPI -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox site use: https://api.sandbox.ebay.com/wsapi -->
    <add key="eBayApiServiceUrl" value="https://api.ebay.com/wsapi" />
    <!-- User token for API server access, required -->
    <!--CrazyMall-->
    <!--<add key="eBayApiToken" value="AgAAAA**AQAAAA**aAAAAA**KGibVA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AFk4WjDpiBoA6dj6x9nY+seQ**fAYBAA**AAMAAA**FUq6vGZAH5ojYHRQoIO7+ma0TixoXM2RvTrWldG1OhXwbnqKAZ19wz/dbG/b3NV7upfFn/Q/ON06rdXXxugW23PkW97mS1Oht+XrLOjICHKq6tJ3/uo/vMfkQPodG39YAJocS4MqZ72it383OPwGAbEvt3U1Y2ymbgJnMO83qdS6THSBEVvj23mnmPhHvjURMKvlr+s3sSz3cr9U6ml5OmKzgVTsYj40m8mr9LbNQIOUUs8OVz+zrcvyENEum9XAl2t+cxVKGw0yX08QXjlxgEWj6EXhLyPJ/WC/d1arFR2QElYlI5Qfbsri7CJ4xybzENbCKY6zh/uwbx0YZ/PrDUHac2DsFb2EFMjmpYNyERs6IP3qLPFk37giJJ7CUq2SvAEjMav812OGGYvlBhMvnYOf7wpzgIHbksJJghEBE8hr4kl0+wWDraUT/MO8/CQrU/Mry3lTMMbVU0PZCOKk6CRtwmD1nAUEuedq7V4lCd8N8XdBs0o3YxM3aCrOZc12+67IfV4q0/8ZUUGFrk6hEC8jMniuqmeC/6ks3UCChjEaa7UPUlbHQ9OKDw6jUefvVImDwl0nFt31Xcv6o3u/mNhN0esMBn08esNTL1ZNWPmLm9LbtTkNajbr5STa7xy3rgAw+RNsTcVzp9vIlPxD/AS3BWSDn8pOwxRU+y7Z8bEXRbk3PQ3BBEXdecSnbbSVkkkFjMS+4xSdrVXwZkwk4KV4zu64yhUUDrmk7ksdTqFz9uD03v2eG3qMkbszTk8U" />-->
    <add key="eBayApiToken" value="AgAAAA**AQAAAA**aAAAAA**7ruXWA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AFk4WjDpiBoA6dj6x9nY+seQ**fAYBAA**AAMAAA**koHzymRsNC+lGjj2Yo+tZrZOy0lZ9riVeYZ23Gunr9Rt5wlcqWrxyc8juMFOR1mNuF0/GK118gplCXBFm0SDcVfI6LqbuAS0F2V3NMXyYL3SM065hdGQzOfu9uEh79MyGO91XB5HFSzjduaLNIQrAtrkTzLSMWmUPey+wDn4OSaGjfkZFETiLNO+CouL4jcPcr9ZoHS/GqZi+ptGlv0W2kcUhNql0bTvCLXaFtsrntd5msZU1FQk5AJOzSS55GFDwmQCTQdnLefnULBFiBDV5p/TQHBKquXH0zJIPX+b4NPyrrdlEccUp59ko8OEuSi+f2CpHXmc38uI+bEbukPG3qexBkRem3zP+St2uZDrMagWSLcBA9s/Ej9yiIowl5hJkRKvMQS92LzBkIsqrOl0kLvrnjKw7MhLBXrHU3WoJeSc8jD0GOUoutf4nHtnwt5X2fkQEyYLC2mJWxwuX+hfVytWQ1tZZjJ1huVIUSeAszrCgLb/SfUF4oD7JuD+ij3uCE83iEhrjra6GRMq6JIRifoebKKE3FuxrImHm86VUtNorQm2g1UymIi5DQa/+fjIWLEP7Hl+ywo3mq6EoehDRVj2EIenoX1HJq1j9BPdCEMHFIgiXV7N75h4Ff2BymM46f9C4LeWwdhLRPmy1qxACwCQEcGOGmwVFAOu5tJ8NK3zpBqprRW2PEnpC5DYdBCHREOXh7vQzamK2aSyHHI3BcNzDhlp2IVwTtQ1qRI5ZIgvi48sJ45+BuGl24QbF+hU" />
    <!--CrazyVictor-->
    <!--<add key="eBayApiToken" value="AgAAAA**AQAAAA**aAAAAA**NjGdVA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wJmIWpDJmGpAWdj6x9nY+seQ**fAYBAA**AAMAAA**VyjlsYnQvWCX6Ac/ZgVwc1ecmqHuLeR10qtnJPcH9NHLEVOdHbzYpdvjX9NjTDbTOA34KMivSCxK3PZauTwxI8NXWT7tKRcicpNV6UgECgUsVnlodKwCH1tNNV5BPPBKsg6vEUFstMeRbuv5A+j2RQBuYm2Ddc+EyaGPI7ScI4qJk57ED85x8q8WJCRUlydVhhF+sisguh1eEVSPnu5A5lSav7TtSI9CUanUfruobBWOzj+GsPd7YVYkbXQflvUFge/U/YpfqBM99lID7r9mbTsabZBT0OXeFAobWfGjXVysZk1RlHr7sh5jbeeZRRvXiGwG5+lJuYvIioOJ7IL0e4kySrMR3V6VR4TrFx/xll3D+IpghD/3HLLEq/pClYYnPnzlEkMqqPwnFdgcLyMXicdtDF+iyLkK/UumxPAQNVHTPqR+k78Z4hcpAudd74BLx5RsLleDLbypyWD76wraO60EAHIemuAjR5bnrjB1Vf0W5RyKzAbYQBG7B44ygUPqw575FPEnqtoRyw9ZhmOUIsleiRluLdUIc8cbEHzQimNxhfDnx05wJ5j/PK/KvIZZDo/81hTr7D+/cJTlyTGB6LM9CRgHB9ieY/L/3xk6pXkRvztGdBJjidkzNCzyzAi22BtkKMcFGUr/rae7e89VC7Fw4U9WrFnwJ1aHAtZ4ncqw+HtEAM1aurz2bYPvIJF9+0DSOuy0AhuwMg+LJjDoNdzRHjBiMGfW/HGt9N3VD7w0GfpW4EudB6E7taNnMY19" />-->
    <!--OZPlaza-->
    <!--<add key="eBayApiToken" value="AgAAAA**AQAAAA**aAAAAA**uhaEUw**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wNloCiC5OAqQudj6x9nY+seQ**7CoBAA**AAMAAA**cwbc57I3jaRKg9pEY9wrxBkmIAijpSOGYuBlT9NqFYqTkoE2d7gsy9+tZvdUNfjCV2mhEpG3Cd9JzlSK/EaNzdw4EENie37+E3m+cqVVOCl2ngujbZZ3giBn14u6pkyzqN6SkVQMhWUbSw3CnQm9i0GDs7R/TnsjSygNh//YJ+iwN3TMdgjra//9ccxPgMhePY1Q4iM60LIwr3/LyGdW6i2Ncf0WB7ubXmIXQBh5GV3kxzGCIlKhgQMxBsU1nxaGF3/fs7Qy+/GzYYlxhF0RhlD9bnQwRl4AV6/eaPfZmBDMWeMsRJPdR4L3GIqR3LcQYlzZtobkoSxUAgEt2VM0JqJ2jKOFZhOnnqtVccgWF6MDWNEBjMRYLgkHzdIAFu4+5clhfqq/zsDoJ64MBdlTqXar/hfYFkB3HhStQVtdDwqEq0p7G8ryM+ufhgIJny9gCEUuNqGqHJleVtmub4LpZ+00piSXbL4gVSncosWw8Je8hwPMJGlJxdOn5gUyPOc5UGpJRvGOZVoaXa7cup7rLrUTctSkoTL9uMYFaj3ocSU39uUC9RQjaFGF7Jl9CpsbU851yA97NDunpuEGzb+tytDZS8GLfWr4VBZjxjNk4DU1cOlf+B09KIKHizKIEq7+jau4Lx76+ZO77uAPUtoq3OSeL4ldUrD1Z42jm8THt9s+89NWe8e3QUbR2CldHbEgBUN5JsJxWpzT6KXoWEA16kbeUUCdU/TuNvVdSY9yFEcaR8LMYcZEGS3b2niCwMiL" />-->
    <!--eBayAPI -->
	  <add key="ImageFilesPath" value="G:\Jim\Own\Dropship\Dropship\Content\ItemImages\" />
    <!--<add key="ImageFilesPath" value="C:\Users\Administrator\Desktop\LogoPicTemp\Logo2BottomMiSmall\" />-->
    <add key="CopyToProductionFolder" value="C:\Users\Administrator\Desktop\NopCommerce2\" />
    <add key="DropshipzoneGroupPriceFilePath" value="G:\Jim\Own\LearningDoc\TempProject\AutoPostAd\QuickSale\DownloadProductFromDropshipZone\groupprice.csv" />
    <add key="DropshipzoneGroupPostageFilePath" value="G:\Jim\Own\LearningDoc\TempProject\AutoPostAd\QuickSale\DownloadProductFromDropshipZone\shippingstate.csv" />
  </appSettings>

	<log4net>
		<!-- Level 1 -->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<!-- Level 2 -->
			<file value="Log\Info\InfoLog_" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="-1" />
			<datePattern value="dd.MM.yyyy'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<!-- Level 3 -->
				<conversionPattern value="%date - Concrete Class Type: %type{1} %message%newline" />
				<!-- Level 4 -->
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="INFO" />
				<param name="LevelMax" value="INFO" />
			</filter>
		</appender>
		<appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<!-- Level 2 -->
			<file value="Log\Error\ErrorLog_" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="-1" />
			<datePattern value="dd.MM.yyyy'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<!-- Level 3 -->
				<conversionPattern value="%date - Concrete Class Type: %type{1} %message%newline" />
				<!-- Level 4 -->
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="ERROR" />
			</filter>
		</appender>
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
			<to value="gdutjim@gmail.com" />
			<from value="Admin@ozcrazymall.com.au" />
			<subject value="Address Cleanse Error Message" />
			<smtpHost value="mail.apexhost.com.au" />
			<port value="25" />
			<authentication value="Basic" />
			<username value="Admin@ozcrazymall.com.au" />
			<password value="Shishiliu-0310" />
			<bufferSize value="1" />
			<lossy value="true" />
			<evaluator type="log4net.Core.LevelEvaluator,log4net">
				<threshold value="ERROR" />
			</evaluator>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineConcrete Class Type: %type{1}%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
			</layout>
		</appender>
		<root>
			<!-- Level 2 -->
			<!--<level value="INFO" />-->
			<!-- Level 3 -->
			<!--<appender-ref ref="RollingLogFileAppender"/>-->
			<!-- Level 3 -->
		</root>
		<logger name="CustomLogger">
			<!--Level 2-->
			<level value="INFO" />
			<!--Level 3-->
			<appender-ref ref="SmtpAppender" />
			<appender-ref ref="RollingLogFileAppender" />
			<appender-ref ref="ErrorRollingLogFileAppender" />
			<!--Level 3-->
		</logger>
	</log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>