<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoPostAdBusiness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <AutoPostAdBusiness.Properties.Settings>
            <setting name="AutoPostAdBusiness_DropshipSOAP_MagentoService"
                serializeAs="String">
                <value>http://www.dropshipzone.com.au/index.php/api/v2_soap/index/</value>
            </setting>
            <setting name="AutoPostAdBusiness_au_com_batteryexpert_MagentoService"
                serializeAs="String">
                <value>http://batteryexpert.com.au/index.php/api/v2_soap/index/</value>
            </setting>
        </AutoPostAdBusiness.Properties.Settings>
    </applicationSettings>
</configuration>